@model BolsaTrabajoV1.Models.TIPO_REQUISITO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TIPO_REQUISITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONTIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONTIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TABLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TABLA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTIPOREQUISITO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
