@model BolsaTrabajoV1.Models.PARTICIPACION_PROFESIONAL

<h2 class="text-center">Detalle de Participación</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITULOPARTICIPACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOPARTICIPACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUGARPARTICIPACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGARPARTICIPACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAPARTICIPACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAPARTICIPACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANFITRION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANFITRION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUM.IDCURRICULUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRICULUM.IDCURRICULUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS.NOMBREPAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS.NOMBREPAIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PARTICIPACION.NOMBRETIPOPARTICIPACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PARTICIPACION.NOMBRETIPOPARTICIPACION)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "AreaConocimiento")'>
        <span class="fa fa-reply">&emsp; Regresar</span>
    </a>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPARTICIPACION },new { @class="btn btn-success"}) 
</p>
