@model IEnumerable<BolsaTrabajoV1.Models.ESTADO_CIVIL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREESTADOCIVIL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREESTADOCIVIL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDESTADOCIVIL }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDESTADOCIVIL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDESTADOCIVIL })
        </td>
    </tr>
}

</table>
