@model IEnumerable<BolsaTrabajoV1.Models.EXAMEN>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Examenes</h2>

<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PONDERACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPRESA.NOMBREEMPRESA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_EXAMEN.DESCRIPCIONTIPO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONDERACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPRESA.NOMBREEMPRESA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_EXAMEN.DESCRIPCIONTIPO)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.CODIGOEXAMEN }, new { @class = "btn btn-success fa fa-edit btn-xs" }) 
            @Html.ActionLink(" ", "Details", new { id = item.CODIGOEXAMEN }, new { @class = "btn btn-primary fa fa-search btn-xs" }) 
            @Html.ActionLink(" ", "Delete", new { id=item.CODIGOEXAMEN }, new { @class = "btn btn-danger fa fa-trash btn-xs" })
        </td>
    </tr>
}

</table>
