@model BolsaTrabajoV1.Models.REFERENCIA

<h3>¿Esta seguro de eliminar esta Referencia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONREFERENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONOREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONOREFERENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUESTOREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUESTOREFERENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONAREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONAREFERENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPRESAORIGENREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPRESAORIGENREFERENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOREFERENCIA.NOMBRETIPOREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOREFERENCIA.NOMBRETIPOREFERENCIA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Referencia")'>
                <span class="fa fa-reply">&emsp; Regresar</span>
            </a>
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
        </div>
    }
</div>
