@model IEnumerable<BolsaTrabajoV1.Models.AREA_CONOCIMIENTO>

<h2 class="text-center">Áreas de Conocimiento</h2>

<p>
    @Html.ActionLink("Agregar", "Create",null, new { @class = "btn btn-success" })
</p>
<table style="color:black;" data-toggle="table" data-animation="true" data-search="true" data-pagination="true" data-sort-name="NOMBREAREACONOCIMIENTO">
    <thead>
        <tr>
            <th data-field="NOMBREAREACONOCIMIENTO" data-sortable="true">
                @Html.DisplayNameFor(model => model.NOMBREAREACONOCIMIENTO)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBREAREACONOCIMIENTO)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.IDAREACONOCIMIENTO }, new { @class = "btn btn-success fa fa-edit btn-xs" }) 
                    @* @Html.ActionLink(" ", "Details", new { id = item.IDAREACONOCIMIENTO }, new { @class = "btn btn-primary fa fa-search btn-xs" } ) *@
                    @Html.ActionLink(" ", "Delete", new { id = item.IDAREACONOCIMIENTO } , new { @class = "btn btn-danger fa fa-trash btn-xs" } )
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-danger" style=" margin-left:40%" href='@Url.Action("MainCatalogos", "AdministracionCatalogos")'>
    <span class="fa fa-reply">&emsp; Regresar</span>
</a>


