@model BolsaTrabajoV1.Models.HABILIDAD

<h2 class="text-center">Editar Habilidad</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDHABILIDAD)
        @Html.HiddenFor(model => model.IDCURRICULUM)
        @Html.HiddenFor(model => model.IDPOSTULANTE)
        @*
    <div class="form-group">
        @Html.LabelFor(model => model.IDCURRICULUM, "IDCURRICULUM", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDCURRICULUM", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDCURRICULUM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDPOSTULANTE, "IDPOSTULANTE", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDPOSTULANTE", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDPOSTULANTE, "", new { @class = "text-danger" })
        </div>
    </div>
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.IDTIPOHABILIDAD, "Tipo Habilidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDTIPOHABILIDAD", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDTIPOHABILIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBREHABILIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBREHABILIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBREHABILIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Habilidad")'>
                <span class="fa fa-reply">&emsp; Regresar</span>
            </a>
            <input type="submit" value="Guardar" class="btn btn-primary" />

        </div>
    </div>
}
