<h3 class="text-center">PLAZAS DISPONIBLES</h3>
<div class="panel">
    <div class="panel-body">
        <table class="table">
            <tr style="background-color:rgb(207, 207, 207)">
                <th>
                    Cargo
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Empresa
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Género
                </th>
                <th>
                    Municipio
                </th>
                <th>
                    Vacantes
                </th>
                <th>
                    Minimo Experiencia
                </th>
            </tr>
            @foreach (var plaza in ViewBag.plazas)
            {
                <tr>
                    <td>@plaza.car</td>

                    <td>@plaza.des</td>

                    <td>@plaza.emp</td>

                    <td>$@plaza.sal</td>

                    <td>@plaza.gen</td>

                    <td>@plaza.mun</td>

                    <td>@plaza.vac</td>

                    <td>@plaza.emin</td>
                </tr>

            }
        </table>
    </div>
</div>