@model BolsaTrabajoV1.Models.POSTULANTE_TIPO_DOCUMENTO_MM

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AGREGAR DOCUMENTO DE IDENTIDAD</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDTIPODOCUMENTOIDENTIDAD, "TIPO DE DOCUMENTO DE IDENTIDAD", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDTIPODOCUMENTOIDENTIDAD", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDTIPODOCUMENTOIDENTIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Html.LabelFor(model => model.IDPOSTULANTE, "IDPOSTULANTE", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.HiddenFor(model => model.IDPOSTULANTE, new { Value = ViewBag.IDPOSTULANTE })
                @*Html.DropDownList("IDPOSTULANTE", null, htmlAttributes: new { @class = "form-control" })*@
                           </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NUMERO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NUMERO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NUMERO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Details", "Postulante", new { id = ViewBag.IDPOSTULANTE }, new { @id = "MiID" })
</div>
