@model BolsaTrabajoV1.Models.POSTULANTE_TIPO_DOCUMENTO_MM

@{
    ViewBag.Title = "Delete";
}

<h3>Está seguro que lo quiere eliminar?</h3>
<div>
    <h4>DOCUMENTO @Html.DisplayFor(MODEL=>MODEL.TIPO_DOCUMENTO_IDENTIDAD.NOMBREDOCUMENTOIDENTIDAD)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTULANTE.NOMBREPOSTULANTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTULANTE.NOMBREPOSTULANTE)
        </dd>
        @*
    <dt>
        @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO_IDENTIDAD.MASCARA)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TIPO_DOCUMENTO_IDENTIDAD.MASCARA)
    </dd>
        *@
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Details", "Postulante", new { id = Model.IDPOSTULANTE }, new { @id = "MiID" })
        </div>
    }
</div>
