@model BolsaTrabajoV1.Models.LOGRO

<h3>¿Esta seguro de eliminar este Logro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITULOLOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOLOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHALOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHALOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTORGANTELOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTORGANTELOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONLOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONLOGRO)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CURRICULUM.IDCURRICULUM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Logro")'>
                <span class="fa fa-reply">&emsp; Regresar</span>
            </a>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>
