@model BolsaTrabajoV1.Models.Logro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Logro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloLogro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloLogro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaLogro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaLogro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otorganteLogro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otorganteLogro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionLogro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionLogro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLogro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
