@model BolsaTrabajoV1.Models.LOGRO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LOGRO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITULOLOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOLOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHALOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHALOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTORGANTELOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTORGANTELOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONLOGRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONLOGRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREMIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREMIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LABORSOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABORSOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUM.IDCURRICULUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRICULUM.IDCURRICULUM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDLOGRO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
