@model IEnumerable<BolsaTrabajoV1.Models.LOGRO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TITULOLOGRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHALOGRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OTORGANTELOGRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCIONLOGRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREMIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LABORSOCIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURRICULUM.IDCURRICULUM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TITULOLOGRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHALOGRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OTORGANTELOGRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCIONLOGRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREMIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LABORSOCIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CURRICULUM.IDCURRICULUM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLOGRO }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDLOGRO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDLOGRO })
        </td>
    </tr>
}

</table>
