@model BolsaTrabajoV1.Models.USUARIO

<div>
    <h4 class="text-center">DETALLE DE USUARIO</h4>
    <hr />
    <dl class="dl-horizontal" style="margin-left:35%;">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREUSUARIO)
        </dt>

        <dd style="margin-bottom:7% ">
            @Html.DisplayFor(model => model.NOMBREUSUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLOR)
        </dt>

        <dd style="margin-bottom:7% ">
            @Html.DisplayFor(model => model.COLOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDIOMA)
        </dt>

        <dd style="margin-bottom:7% ">
            @Html.DisplayFor(model => model.IDIOMA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDUSUARIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
