@model IEnumerable<BolsaTrabajoV1.Models.TIPOREFERENCIA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color:black;" data-toggle="table" datasrc="true" data-search="true"
 data-select-item-name="toolbar1" data-pagination="true" data-sort-name="NOMBREAREACONOCIMIENTO"
 data-sort-order="asc">
    <thead>
        <tr>
            <th data-field="NOMBRETIPOREFERENCIA" data-sortable="true">
                @Html.DisplayNameFor(model => model.NOMBRETIPOREFERENCIA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRETIPOREFERENCIA)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDTIPOREFERENCIA }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDTIPOREFERENCIA }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDTIPOREFERENCIA })
                </td>
            </tr>
        }
    </tbody>
</table>
