@model BolsaTrabajoV1.Models.CERTIFICACION

<h2 class="text-center">¿Esta seguro que desea eliminar esta Certificaciòn?</h2>
<div style="margin-right: 6%">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFINCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFINCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Certificacion")'>
                <span class="fa fa-reply">&emsp; Regresar</span>
            </a>
            <input type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>
