@model BolsaTrabajoV1.Models.CERTIFICACION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CERTIFICACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFINCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFINCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUM.IDCURRICULUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRICULUM.IDCURRICULUM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCERTIFICACION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
