@model BolsaTrabajoV1.Models.CERTIFICACION

<h2 class="text-center">Detalles de Certificación</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFINCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFINCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGOCERTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGOCERTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Certificacion")'>
        <span class="fa fa-reply">&emsp; Regresar</span>
    </a>
</p>
