@model BolsaTrabajoV1.Models.PAIS

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="text-center">MODIFICAR PAIS</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDPAIS)

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBREPAIS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBREPAIS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBREPAIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CODIGOPAIS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CODIGOPAIS, new { htmlAttributes = new { @class = "form-control", @maxlength = "3" } })
                @Html.ValidationMessageFor(model => model.CODIGOPAIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Pais")'>
                    <span class="fa fa-reply">&emsp; Regresar</span>
                </a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
