@model IEnumerable<BolsaTrabajoV1.Models.FUNCION_PLAZA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCIONPLAZA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLAZA.FORMAPAGO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCIONPLAZA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLAZA.FORMAPAGO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFUNCION }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFUNCION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFUNCION })
        </td>
    </tr>
}

</table>
