@model BolsaTrabajoV1.Models.CONTACTO

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Contacto</h2>

<h3>Está seguro que lo quiere eliminar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.VINCULO)*@
            TELEFONO / URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINCULO)
        </dd>

        <dt>
            NOMBRE DEL POSTULANTE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTULANTE.NOMBREPOSTULANTE)
        </dd>

        <dt>TIPO DE CONTACTO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CONTACTO.NOMBRETIPOCONTACTO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Details", "Postulante", new { id = Model.IDPOSTULANTE }, new { @id = "MiID" })
        </div>
    }
</div>
