@model BolsaTrabajoV1.Models.CONTACTO

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>DETALLES DE CONTACTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.VINCULO)*@
            TELEFONO / URL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINCULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_CONTACTO.NOMBRETIPOCONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTULANTE.NOMBREPOSTULANTE)
        </dd>

        <dt>
            @*Html.DisplayNameFor(model => model.POSTULANTE.NOMBREPOSTULANTE)*@
            TIPO DE CONTACTO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CONTACTO.NOMBRETIPOCONTACTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDCONTACTO }, new { @class="btn btn-default" }) |
    @Html.ActionLink("Regresar", "Details", "Postulante", new { id = Model.IDPOSTULANTE }, new { @id = "MiID" })
</p>
