<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Tipo de Contacto</th>
            <th>Número / Direccion</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CONTACTO.Count < 1)
        {
            <tr><td>No has ingresado tu informacion de contacto aún.</td></tr>
            <div class="text-center">
                <a href="@Url.Action("Create","Contacto",new { idPostulante = Model.IDPOSTULANTE })" class="btn btn-primary">Agregar Contacto</a>
            </div>
        }
        else
        {
            foreach (var contacto in Model.CONTACTO)
            {
                <tr>
                    <td>
                        @contacto.TIPO_CONTACTO.NOMBRETIPOCONTACTO
                    </td>
                    <td>
                        @contacto.VINCULO
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit","Contacto", new { id = contacto.IDCONTACTO }, new { @class = "fa fa-edit" }) |
                        @Html.ActionLink(" ", "Details","Contacto", new { id = contacto.IDCONTACTO },new { @class = "fa fa-search" }) |
                        @Html.ActionLink(" ", "Delete", "Contacto", new { id = contacto.IDCONTACTO }, new { @class = "fa fa-trash" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>