<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bolsa De Trabajo</title>
    <!-- Bootstrap -->
    @Styles.Render("~/Content/cssPlantilla")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-signing"></i> <span>SIBTRA</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <!--div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </!--div-->
                        <div class="profile_info">
                            <span>Bienvenido</span>
                            <h2>@HttpContext.Current.Session["nombre"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @*<div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                </ul>
            </li>
        </ul>
    </div>*@
                        <div class="menu_section">
                            @*<ul class="nav side-menu">
        <li><a href='@Url.Action("MainCatalogos", "AdministracionCatalogos")'><i class="fa fa-laptop"></i> Catalogos</a></li>
        <li><a href='@Url.Action("Create", "Usuario")'><i class="fa fa-laptop"></i> Usuario</a></li>
        <li><a href='@Url.Action("Create", "Postulante")'><i class="fa fa-laptop"></i> Postulante</a></li>
    </ul>*@
                            <ul class="nav side-menu">
                                @foreach (var menu in Session["menus"] as IEnumerable<BolsaTrabajoV1.Models.MENU>)
                                {
                                    <li><a href='#'><i class="@menu.IMAGEN"></i> @menu.NOMBREMENU</a></li>

                                    if (menu.MENU1 != null || menu.MENU1.Count() > 0)
                                    {
                                        <li>
                                            <ul class="nav side-menu">
                                                @foreach (var submenu in menu.MENU1)
                                                {
                                                    <li><a href='#'><i class="@submenu.IMAGEN"></i>-- @submenu.NOMBREMENU</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
</ul>
                            @*foreach (var menu in Session["menus"] as IEnumerable<BolsaTrabajoV1.Models.MENU>)
    {
        <ul class="nav side-menu">
            <!--Si no tiene menu padre-->
            @if (@menu.IDPADRE == null)
            {
                <li>
                    <a href='#'><i class="@menu.IMAGEN"></i> @menu.NOMBREMENU</a>
                    <ul>
                        @foreach (var submenu in Session["submenus"] as IEnumerable<BolsaTrabajoV1.Models.MENU>)
                        {
                            if (@submenu.IDPADRE == @menu)//si es submenu del menu padre
                            {
                                <li>
                                    <a href='#'><i class="@submenu.IMAGEN"></i> @submenu.NOMBREMENU</a>
                                    <ul>
                                        @foreach (var subsubmenu in Session["subsubmenus"] as IEnumerable<BolsaTrabajoV1.Models.MENU>)
                                        {
                                            if (@subsubmenu.IDPADRE == @submenu)
                                            {
                                                <li><a href='#'><i class="@submenu.IMAGEN"></i> @submenu.NOMBREMENU</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    }*@
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="fa fa-user fa-lg" data-toggle="dropdown" aria-expanded="false">
                                    @HttpContext.Current.Session["nombre"]
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Perfil</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span>Configuraciones</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Ayuda</a></li>
                                    <li><a  href='@Url.Action("CerrarSesion", "Usuario")'><i class="fa fa-sign-out pull-right"></i> Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <!-- /page content -->
            <!-- inserta el contenido en la plantilla -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Base de Datos 2017 <a href="https://colorlib.com">UES</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jsPlantilla")
</body>
</html>
