@model BolsaTrabajoV1.Models.TIPO_HABILIDAD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TIPO_HABILIDAD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRETIPOHABILIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRETIPOHABILIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_CONOCIMIENTO.NOMBREAREACONOCIMIENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTIPOHABILIDAD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
