@model BolsaTrabajoV1.Models.IDIOMA

<h2 class="text-center">Detalle de Idioma</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREIDIOMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREIDIOMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LENGUAMATERNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LENGUAMATERNA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESCRITURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESCRITURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LECTURA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LECTURA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONVERSACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONVERSACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESCUCHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESCUCHA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDIDIOMA },new { @class="btn btn-success"}) 
    <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "Idioma")'>
        <span class="fa fa-reply">&emsp; Regresar</span>
    </a>
</p>
