@model IEnumerable<BolsaTrabajoV1.Models.IDIOMA>

<h2 class="text-center">Idiomas</h2>

<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREIDIOMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESCRITURA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LECTURA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONVERSACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESCUCHA)
        </th>
 
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREIDIOMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESCRITURA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LECTURA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONVERSACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESCUCHA)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IDIDIOMA }, new { @class = "btn btn-success fa fa-edit btn-xs" })
            @Html.ActionLink(" ", "Details", new { id = item.IDIDIOMA }, new { @class = "btn btn-primary fa fa-search btn-xs" } ) 
            @Html.ActionLink(" ", "Delete", new { id = item.IDIDIOMA }, new { @class = "btn btn-danger fa fa-trash btn-xs" })
        </td>
    </tr>
}

</table>
<a class="btn btn-danger" style="margin-top:5%" href='@Url.Action("MainCurriculum", "Curriculum")'>
    Regresar
</a>