@model BolsaTrabajoV1.Models.EMPRESA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODIGOEMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGOEMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBREEMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREEMPRESA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEMPRESA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
