@model IEnumerable<BolsaTrabajoV1.Models.EMPRESA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODIGOEMPRESA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREEMPRESA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGOEMPRESA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREEMPRESA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDEMPRESA }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDEMPRESA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDEMPRESA })
        </td>
    </tr>
}

</table>
