@model BolsaTrabajoV1.Models.CARGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CARGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRECARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRECARGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AREA_CARGO.DESCRIPCIONAREA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AREA_CARGO.DESCRIPCIONAREA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCARGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
