@model BolsaTrabajoV1.Models.MUNICIPIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MUNICIPIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREMUNICIPIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREMUNICIPIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTO.NOMBREDEPARTAMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO.NOMBREDEPARTAMENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDMUNICIPIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
