@model BolsaTrabajoV1.Models.USUARIO

@{
    Layout = "";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    @Styles.Render("~/Content/cssPlantilla")

</head>

<body class="login">

    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <div>
            <a class="hiddenanchor" id="signup"></a>
            <a class="hiddenanchor" id="signin"></a>

            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form>
                            <h1>Login Form</h1>
                            <div>
                                @Html.TextBoxFor(m => m.NOMBREUSUARIO)
                            </div>
                            <br>
                            <div>
                                @Html.PasswordFor(m => m.PASSWORD)
                            </div>
                            <br>
                            <div>
                                <input type="submit" value="Login" />

                            </div>

                            @if (TempData["Message"] != null)
                            {
                                <br>
                                <div>
                                    <b>@TempData["Message"]</b>
                                </div>
                            }
                            @if (TempData["MessageV"] != null)
                            {
                                <div class="alert alert-success">
                                    <strong>@TempData["MessageV"]</strong>
                                </div>
                            }

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p>
                                    ¿No tienes cuenta? <br>
                                   
                                     @Html.ActionLink("Registrarse", "Create", "Usuario", null ,new { @class = "btn btn-success" })
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>

                <div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form>
                            <h1>Create Account</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Username" required="" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" required="" />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" required="" />
                            </div>
                            <div>
                                <a class="btn btn-default submit" href="index.html">Submit</a>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link">
                                    Already a member ?
                                    <a href="#signin" class="to_register"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>

    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")



</body>
</html>
