<!DOCTYPE html>

@{
    var usr = new BolsaTrabajoV1.Models.USUARIO();
    usr = (BolsaTrabajoV1.Models.USUARIO)Session["usuario"];
}


@if (usr.IDROL != 1)
{

    <b>ACCESO DENEGADO :v</b>

  
    <b>@usr.NOMBREUSUARIO</b>
    <b>@usr.IDROL</b>
}


@if (usr.IDROL == 1)
{

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Profile</title>
        <title>Index</title>
        <style type="text/css">
            body {
                font-family: Arial;
                font-size: 10pt;
            }
        </style>
    </head>
    <body>
        <div>
            Welcome
            @if (TempData["Message"] != null)
            {
                <div>
                    <b>@TempData["Message"]</b>
                </div>
            }
            <br />
            <br />

            <div>
                <b>@usr.NOMBREUSUARIO</b>
            </div>
            <div>
                <b>@usr.IDUSUARIO</b>
            </div>
            <div>
                <b>@usr.IDROL</b>
            </div>



            @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
            {
                <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
            }
        </div>
    </body>
</html>

}

