@model IEnumerable<BolsaTrabajoV1.Models.TIPO_PARTICIPACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRETIPOPARTICIPACION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRETIPOPARTICIPACION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTIPOPARTICIPACION }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTIPOPARTICIPACION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTIPOPARTICIPACION })
        </td>
    </tr>
}

</table>
