<!-- page content -->
<div  role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <h1>Gestión de Curriculum</h1>
                            </div>
                            <div class="clearfix"></div>
                            <!--Inicia el primer recuadro-->
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Información Profesional</i></h4>
                                        <div class="left col-xs-12">
                                            <ol class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Certificaciones &nbsp;&nbsp;&nbsp;</i> 
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "Certificacion")'>ir</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Experiencia Laboral &nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "ExperienciaLaboral")'>ir</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <p class="ratings">
                                                <a>4</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <i class="fa fa-user"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--termina el primer recuadro-->
                            <!--Inicia el segundo recuadro-->
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Habilidades y Referencias</i></h4>
                                        <div class="left col-xs-12">
                                            <ol class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Habilidades &nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "Habilidad")'>ir</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Referencias &nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "Referencia")'>ir</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <p class="ratings">
                                                <a>4</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <i class="fa fa-user"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--termina el segundo recuadro-->
                           
                            <!--Inicia el tercer recuadro-->
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Formación Academica</i></h4>
                                        <div class="left col-xs-12">
                                            <ol class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Idioma &nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "Idioma")'>ir</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Otras&nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "FormacionAcademica")'>ir</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <p class="ratings">
                                                <a>4</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <i class="fa fa-user"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--termina el tercer recuadro-->
                            <!--Inicia el tercer recuadro-->
                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <h4 class="brief"><i>Otra Información</i></h4>
                                        <div class="left col-xs-12">
                                            <ol class="list-unstyled">
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Logro &nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "Logro")'>ir</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Participación Profesional&nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "ParticipacionProfesional")'>ir</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-building">&nbsp;&nbsp;&nbsp;Publicaciones&nbsp;&nbsp;&nbsp;</i>
                                                    <a class="btn btn-primary btn-xs" href='@Url.Action("Index", "Publicacion")'>ir</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <p class="ratings">
                                                <a>4</a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 emphasis">
                                            <i class="fa fa-user"> </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--termina el tercer recuadro-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
