@model BolsaTrabajoV1.Models.NIVEL_IDIOMA

<h3 class="text-center">¿Esta seguro de Eliminarlo?</h3>
<div>
    <h4>NIVEL_IDIOMA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRENIVELIDIOMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRENIVELIDIOMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODIGONIVELIDIOMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGONIVELIDIOMA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "NivelIdioma")'>
                <span>&emsp; NO</span>
            </a>
            <input type="submit" value="SI" class="btn btn-danger" />
        </div>
    }
</div>
