@model BolsaTrabajoV1.Models.FORMACIONACADEMICA


<h3>¿Esta seguro de eliminar esta Formación?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIOFORMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIOFORMACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFINFORMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFINFORMACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORMAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORMAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOFORMACINONACADEMICA.NOMBRETIPOFORMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOFORMACINONACADEMICA.NOMBRETIPOFORMACION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "FormacionAcademica")'>
                <span class="fa fa-reply">&emsp; Regresar</span>
            </a>
            <input type="submit" value="Borrar" class="btn btn-danger" /> 
        </div>
    }
</div>
