@model BolsaTrabajoV1.Models.FORMACIONACADEMICA

<h2 class="text-center">Detalle de Formación</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIOFORMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIOFORMACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFINFORMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFINFORMACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FORMAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FORMAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRADOACADEMICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRADOACADEMICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUM.IDCURRICULUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRICULUM.IDCURRICULUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOFORMACINONACADEMICA.NOMBRETIPOFORMACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOFORMACINONACADEMICA.NOMBRETIPOFORMACION)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "FormacionAcademica")'>
        <span class="fa fa-reply">&emsp; Regresar</span>
    </a>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDFORMACION }, new { @class="btn btn-success"}) 
</p>
