@model BolsaTrabajoV1.Models.POSTULANTE

@{
    ViewBag.Title = "Details";
}

<h2>Tu perfil</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <h3>@Model.NOMBREPOSTULANTE @Model.APELLIDOPOSTULANTE</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-body text-center">
                    <img src="~/Images/no-profile-pic.png" style="width:300px;height:300px;"/>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Tus Documentos de Identidad</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Número</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.POSTULANTE_TIPO_DOCUMENTO_MM.Count < 1)
                            {
                                <tr><td>No has ingresado ningún documento de identidad aún.</td></tr>
                            }
                            else
                            {
                                foreach (var documento in Model.POSTULANTE_TIPO_DOCUMENTO_MM)
                                {
                                    <tr>
                                        <td>
                                            @documento.TIPO_DOCUMENTO_IDENTIDAD.NOMBREDOCUMENTOIDENTIDAD
                                        </td>
                                        <td>
                                            @documento.NUMERO
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-7">
            <div class="panel">
                <div class="panel-heading">
                    <h4>Acerca de Usted</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped">
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NOMBREPOSTULANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.NOMBREPOSTULANTE)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.APELLIDOPOSTULANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.APELLIDOPOSTULANTE)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.GENERO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.GENERO.DESCRIPCIONGENERO)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FECHANACIMIENTO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FECHANACIMIENTO)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DIRECCION)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DIRECCION)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.URLCURRICULUM)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.URLCURRICULUM)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.MUNICIPIO.NOMBREMUNICIPIO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MUNICIPIO.NOMBREMUNICIPIO)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.USUARIO.NOMBREUSUARIO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.USUARIO.NOMBREUSUARIO)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Tu información de contacto</h4>
                </div>
                <div class="panel-body">@*desplegamos la vista parcial de tipo de contactos en el panel *@
                    @Html.Partial("_PartialContactos")
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPOSTULANTE }) 
    @*Html.ActionLink("Back to List", "Index")*@
</p>
