@model BolsaTrabajoV1.Models.POSTULANTE

@{
    ViewBag.Title = "Details";
    BolsaTrabajoV1.Models.USUARIO user = Session["usuario"] as BolsaTrabajoV1.Models.USUARIO;
}

@*if(user.IDROL==3 && ViewBag.plazas!=null){
        foreach (var plazas in ViewBag.plazas) {
                <select name="idplaza">
                    <opion value="@plazas.idplaza"></opion>
                </select>
        }
        /*aqui va el formulario*/
    }*@
<h2>Tu perfil</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <h3>@Model.NOMBREPOSTULANTE @Model.APELLIDOPOSTULANTE</h3>
                @if (user.IDROL == 3)
                {<button onclick="location.href='@Url.Action("EnviarCorreo", "Postulante", new { id = Model.IDPOSTULANTE })'">Contactar</button>}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-body text-center">
                    <img src="~/Images/no-profile-pic.png" style="width:300px;height:300px;" />
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Tus Documentos de Identidad</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Número</th>
                                @if (user.IDROL == 2)
                                {<th>Opciones</th>}
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.POSTULANTE_TIPO_DOCUMENTO_MM.Count < 1)
                            {
                                <tr><td>No has ingresado ningún documento de identidad aún.</td></tr>
                            }
                            else
                            {
                                foreach (var documento in Model.POSTULANTE_TIPO_DOCUMENTO_MM)
                                {
                                    <tr>
                                        <td>
                                            @documento.TIPO_DOCUMENTO_IDENTIDAD.NOMBREDOCUMENTOIDENTIDAD
                                        </td>
                                        <td>
                                            @documento.NUMERO
                                        </td>
                                        @if (user.IDROL == 2) { 
                                        <td>
                                            @Html.ActionLink(" ", "Edit", "POSTULANTETIPODOCUMENTO", new { id = documento.IDTIPODOCUMENTOIDENTIDAD, idPostulante = Model.IDPOSTULANTE }, new { @class = "fa fa-edit" }) |
                                            @Html.ActionLink(" ", "Details", "POSTULANTETIPODOCUMENTO", new { id = documento.IDTIPODOCUMENTOIDENTIDAD, idPostulante = 1 /*Model.IDPOSTULANTE*/ }, new { @class = "fa fa-search" }) |
                                            @Html.ActionLink(" ", "Delete", "POSTULANTETIPODOCUMENTO", new { id = documento.IDTIPODOCUMENTOIDENTIDAD, idPostulante = Model.IDPOSTULANTE }, new { @class = "fa fa-trash" })
                                        </td>
                                        }
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                    @if (user.IDROL == 2)
                    {
                        <div class=" text-center">
                            <br />
                            <a href="@Url.Action("Create","PostulanteTipoDocumento",new { idPostulante = Model.IDPOSTULANTE })" class="btn btn-primary">Agregar Documento</a>
                        </div>
                    }
                    
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Tu Estado Civil</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped">
                        @foreach (var item in Model.ESTADO_CIVIL_POSTULANTE_MM)
                        {
                            <tr>

                                <th>@item.ESTADO_CIVIL.NOMBREESTADOCIVIL</th>
                                <td>Editar</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel">
                <div class="panel-heading">
                    <h4>Acerca de Usted</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-striped">
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.NOMBREPOSTULANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.NOMBREPOSTULANTE)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.APELLIDOPOSTULANTE)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.APELLIDOPOSTULANTE)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.GENERO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.GENERO.DESCRIPCIONGENERO)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.FECHANACIMIENTO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FECHANACIMIENTO)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.DIRECCION)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DIRECCION)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.URLCURRICULUM)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.URLCURRICULUM)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.MUNICIPIO.NOMBREMUNICIPIO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MUNICIPIO.NOMBREMUNICIPIO)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.USUARIO.NOMBREUSUARIO)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.USUARIO.NOMBREUSUARIO)
                            </td>
                        </tr>
                    </table>
                    @if (user.IDROL == 2)
                    {
                        <div class="text-center">
                            <a href="@Url.Action("Edit", "Postulante", new { id = Model.IDPOSTULANTE })" class="btn btn-primary btn-lg">Editar Perfil</a>
                        </div>
                    }
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Tu información de contacto</h4>
                </div>
                <div class="panel-body">
                    @*desplegamos la vista parcial de tipo de contactos en el panel *@
                    @Html.Partial("_PartialContactos")
                    @if (user.IDROL == 2)//El botón lo mira solo el postulante
                    {
                        if (Model.CONTACTO.Count >= 1)
                        {
                            <div class="text-center">
                                <br />
                                <a href="@Url.Action("Create","Contacto",new { idPostulante = Model.IDPOSTULANTE })" class="btn btn-primary">Agregar Contacto</a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4>Tus Teléfonos</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @*Html.ActionLink("Back to List", "Index")*@
</p>
