@model BolsaTrabajoV1.Models.POSTULANTE

@{ 
    //SelectListItem generos = new SelectListItem(ViewBag.IDGENERO);
    /*foreach (var genero in ViewBag.IDGENERO as IEnumerable< BolsaTrabajoV1.Models.GENERO>)
    {
        generos.Add(new SelectListItem() { Text = genero.DESCRIPCIONGENERO, Value = genero.IDGENERO.ToString() ,Selected= Model.IDGENERO==genero.IDGENERO? true: false });
    }*/

}
<h2>Editar Perfil de Postulante</h2>
<script src="~/Scripts/jquery-3.1.1.js"></script>
@Scripts.Render("~/Scripts/jsDatepicker/jquery-ui.js")
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDPOSTULANTE)
        @Html.HiddenFor(model => model.IDUSUARIO)
        @*Html.HiddenFor(model => model.IDCURRICULUM)*@
        @*
    <div class="form-group">
        @Html.LabelFor(model => model.IDUSUARIO, "IDUSUARIO", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDUSUARIO", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDUSUARIO, "", new { @class = "text-danger" })
        </div>
    </div>
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.IDMUNICIPIO, "Municipio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDMUNICIPIO", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDMUNICIPIO, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
    <div class="form-group">
        @Html.LabelFor(model => model.IDCURRICULUM, "IDCURRICULUM", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDCURRICULUM", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDCURRICULUM, "", new { @class = "text-danger" })
        </div>
    </div>
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.NOMBREPOSTULANTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBREPOSTULANTE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBREPOSTULANTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.APELLIDOPOSTULANTE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.APELLIDOPOSTULANTE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.APELLIDOPOSTULANTE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GENERO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Html.DropDownList("IDGENERO", new SelectList( ViewBag.IDGENERO , Model.GENERO/*{ Text = Model.GENERO.DESCRIPCIONGENERO,Value = Model.IDGENERO.ToString() }*/), htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("IDGENERO", null, htmlAttributes: new { @class = "form-control" })
                    @*Html.EditorFor(model => model.GENERO, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.GENERO, "", new { @class = "text-danger" })
</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHANACIMIENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHANACIMIENTO, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.FECHANACIMIENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIRECCION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIRECCION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.URLCURRICULUM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URLCURRICULUM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URLCURRICULUM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<script>
    $('#FECHANACIMIENTO').datetimepicker({
        format: 'DD/MM/YYYY',
        viewMode: 'years'
    });
</script>
