@model BolsaTrabajoV1.Models.EXPERIENCIALABORAL

<h3>¿Esta seguro de eliminar esta Experiencia Laboral?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULOPROYECTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOPROYECTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMEROCONTACTOORG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROCONTACTOORG)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "ExperienciaLaboral")'>
            <span class="fa fa-reply">&emsp; Regresar</span>
        </a>
        <input type="submit" value="Borrar" class="btn btn-danger" />

    }
</div>
