@model BolsaTrabajoV1.Models.EXPERIENCIALABORAL

<h2 class="text-center">Detalle de Experiencia Laboral</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSTITUCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CARGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITULOPROYECTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITULOPROYECTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAINICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAINICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAFIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAFIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMEROCONTACTOORG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMEROCONTACTOORG)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-danger" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "ExperienciaLaboral")'>
        <span class="fa fa-reply">&emsp; Regresar</span>
    </a>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDEXPERIENCIALABORAL }, new { @class = "btn btn-success" })
    
</p>
