@model IEnumerable<BolsaTrabajoV1.Models.EXPERIENCIALABORAL>
<h2 class="text-center">Experiencias Laborales</h2>

<p>
    @Html.ActionLink("Agregar", "Create",null,new{ @class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULOPROYECTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAINICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMEROCONTACTOORG)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CARGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULOPROYECTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAINICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMEROCONTACTOORG)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IDEXPERIENCIALABORAL }, new { @class = "btn btn-success fa fa-edit btn-xs" })
            @Html.ActionLink(" ", "Details", new { id = item.IDEXPERIENCIALABORAL }, new { @class = "btn btn-primary fa fa-search btn-xs" } ) 
            @Html.ActionLink(" ", "Delete", new { id = item.IDEXPERIENCIALABORAL }, new { @class = "btn btn-danger fa fa-trash btn-xs" })
        </td>
    </tr>
}

</table>
<a class="btn btn-danger" style="margin-top:5%" href='@Url.Action("MainCurriculum", "Curriculum")'>
    Regresar
</a>