@model IEnumerable<BolsaTrabajoV1.Models.EXPERIENCIALABORAL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INSTITUCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULOPROYECTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAINICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAFIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMEROCONTACTOORG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURRICULUM.IDCURRICULUM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INSTITUCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULOPROYECTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAINICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAFIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUMEROCONTACTOORG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CURRICULUM.IDCURRICULUM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDEXPERIENCIALABORAL }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDEXPERIENCIALABORAL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDEXPERIENCIALABORAL })
        </td>
    </tr>
}

</table>
