<div class="container">
    <div class="panel" style="margin-top: 4%;">
        <div class="panel-heading text-center">
            <h1>ADMINISTRAR CATALOGOS</h1>
        </div>
        <div class="panel-body">
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>AREA CONOCIMIENTO</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "AreaConocimiento")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO DE CONTACTO</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoContacto")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>

            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO DOCUMENTO DE IDENTIDAD</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoDocumentoIdentidad")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>

            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO FORMACIÓN ACADEMICA</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoFormacionAcademica")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO DE HABILIDAD</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoHabilidad")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>PAISES</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "Pais")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO DE PARTICIPACIÓN</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoParticipacion")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO DE REFERNCIA</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoReferencia")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>TIPO DE TELEFONO</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "TipoTelefono")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>DEPARTAMENTO</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "Departamento")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>MUNICIPIO</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "Municipio")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>

            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>ESTADO CIVIL</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "EstadoCivil")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
            <div class="col-md-3 cuadro">
                <div class="col-md-7">
                    <b>NIVEL IDIOMA</b>
                </div>
                <a class="col-md-4 cuadroHijo text-center" href='@Url.Action("Index", "NivelIdioma")'>
                    <span class="fa fa-cog"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    a {
        color:rgb(255, 255, 255)
    }
    .cuadro {
        color: white;
        font-size: 120%;
        background: rgba(30, 93, 129, 0.7);
        margin:1%;
    }

    .cuadroHijo {
        font-size: 300%;
        padding: 4%;
        background: rgba(255,255,255,0.1);
        margin-left: 8%;
        -webkit-border-radius: 100%;
        /* Firefox 1-3.6 */
        -moz-border-radius: 100%;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 100%;
    }

        .cuadroHijo:hover {
            background-color: rgba(255,255,255,0.3);
        }
</style>