@model BolsaTrabajoV1.Models.MENU

<div>
    <h4>MENU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREMENU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBREMENU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCIONMENU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCIONMENU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.IDMENU },new { @class="btn btn-success"}) 
    <a class="btn btn-danger"  href='@Url.Action("Index", "Menu")'>
        Regresar
    </a>

</p>
