@model IEnumerable<BolsaTrabajoV1.Models.MENU>


<p>
    @Html.ActionLink("Agregar", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREMENU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCIONMENU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREMENU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCIONMENU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDEN)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IDMENU }, new { @class = "btn btn-success fa fa-edit btn-xs" })
            @Html.ActionLink(" ", "Details", new { id = item.IDMENU }, new { @class = "btn btn-primary fa fa-search btn-xs" } )
            @Html.ActionLink(" ", "Delete", new { id = item.IDMENU }, new { @class = "btn btn-danger fa fa-trash btn-xs" })


        </td>
    </tr>
}

</table>
