@model BolsaTrabajoV1.Models.ROL

@{
    ViewBag.Title = "Edit";
    var opciones = new List<string>();
    foreach(var menus in ViewBag.menus)
    {
        opciones.Add("<option value =" + menus.IDMENU + ">" + menus.NOMBREMENU + "</option >");
    }

}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ROL</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDROL)

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBREROL, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.NOMBREROL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBREROL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ACTIVO, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ACTIVO)
                    @Html.ValidationMessageFor(model => model.ACTIVO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">MENÚS A LOS QUE PUEDE ACCEDER</label>
        </div><button onclick="agregarMenu(); return false;">Agregar</button>
        <div id="div_padre"></div>
            @foreach (var item in Model.MENU)//
            {
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <select class="form-control">
                            @foreach (var menus in ViewBag.menus)
                            {
                                <option value="@menus.IDMENU" @if (menus.IDMENU == item.IDMENU) { Write("selected"); }>@menus.NOMBREMENU</option>
                            }
                        </select>
                    </div>
                </div>
            }


            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}
<script>

    function agregarMenu() {
        var $select = document.createElement("select");
        var opcion;
            @foreach(var menus in ViewBag.menus)
            {
                WriteLiteral("opcion = document.createElement(\"option\");");
                WriteLiteral("opcion.value =" + menus.IDMENU + ";");
                WriteLiteral("opcion.innerHTML = '" + menus.NOMBREMENU + "';");
                WriteLiteral("$select.appendChild(opcion);");
            }
        var div_padre = document.getElementById("div_padre");
        div_padre.append($select);
        
            
    }
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
